

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: background 0.3s linear, color 0.3s linear ;
}

.dark{
    background-color: black;
    color: white;
   
}
.toggle-container{
    position: fixed;
    top: 10px;
    right: 10px;
}
label{
    user-select: none;
    cursor: pointer;
}